body    {
    background-color: beige;
}

.w2{
    background-color: rgb(78, 78, 167);
    margin-top: auto;
    max-width: 2px;
    left: 50px;
}

.w1{
    background-color: rgb(107, 84, 129) ;
}

h1{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}